.wrapper {
  --search-border-radius: 92px;
  --search-heigh: 46px;
  --search-top-spacer: 9px;

  height: var(--layout-header-heigh);
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 42px;
  width: 118px;
}

.search {
  position: relative;
  width: 361px;
  height: var(--search-heigh);
  background-color: var(--color-light-gray);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1.5px solid transparent;

  input {
    font-size: 1.6rem;
    border: 0;
    background-color: transparent;
    font-weight: 400;
    padding: 12px 0;
    flex: 1;
    color: var(--color-gray);
    caret-color: var(--color-pink);
  }

  input:not(:placeholder-shown) ~ .btn-search {
    color: var(--color-light-black);
  }

  &::after {
    position: absolute;
    top: var(--search-top-spacer);
    right: 52px;
    width: 1px;
    content: ' ';
    height: calc(var(--search-heigh) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-result {
  width: 361px;
}

.search-result-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 12px;
}

.btn-clear,
.spinner {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-gray);
}

.btn-search {
  width: 52px;
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: var(--color-gray);

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-gray);
  }

  &:active {
    background-color: var(--color-light-gray);
  }
}

.btn-menu {
  display: inline;
}

.btn-menu {
  font-size: 2.4rem;
  margin-left: 24px;
  background-color: transparent;
}
