.search {
  position: relative;
  width: 361px;
  height: var(--search-heigh);
  background-color: var(--color-light-gray);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1.5px solid transparent;

  input {
    font-size: 1.6rem;
    border: 0;
    background-color: transparent;
    font-weight: 400;
    padding: 12px 0;
    flex: 1;
    color: var(--color-gray);
    caret-color: var(--color-pink);
  }

  input:not(:placeholder-shown) ~ .btn-search {
    color: var(--color-light-black);
  }

  &::after {
    position: absolute;
    top: var(--search-top-spacer);
    right: 52px;
    width: 1px;
    content: ' ';
    height: calc(var(--search-heigh) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-result {
  width: 361px;
}

.search-result-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 12px;
}

.btn-clear,
.spinner {
  position: absolute;
  right: 70px;
  top: 50%;
  color: var(--color-gray);
}

.btn-clear {
  transform: translateY(-50%);
  cursor: pointer;
}

.spinner {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.btn-search {
  width: 52px;
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: var(--color-gray);

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-gray);
  }

  &:active {
    background-color: var(--color-light-gray);
  }
}
